@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

div {
  border: solid 1px;
  width: 440px;
  height: 400px;
  font-family: montserrat;
  text-align: center;
}
